@tailwind base;
@tailwind components;
@tailwind utilities;

body{
/*   background: #125f12; */
}

.yellow-gradient {
    background: -webkit-radial-gradient(#fc4a1a, #f7b733);
    background:  linear-gradient( 113.9deg,  rgb(227, 114, 72) 13%, rgba(213,32,39,1) 48.8%, rgb(227, 65, 24) 85.9% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.black-stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card-gradient{
background: #76b852;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.darkBlue-gradient {
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 550px)  {
  .mobile-hidden { display: none; }  
}